*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    background-color: #F6F4F4;
    height: 35px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav ul li{
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.main{
    background: rgba(19, 14, 14, 0.06);
    background-position: center;
    position: sticky; 
    width: 100%;
}
.main p{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    /* border: solid 2px black; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 240px;
    width: 600px;
    display: block;
    position: absolute;
    left: 36%; 
    padding-inline-start: ; 
    z-index: 13;
    font-weight: lighter    ;
}

.main img{
    position:absolute;
    justify-content: center;
    left: 18%;
    padding-top: 15%;
    z-index: 12;
}

.second_page{
    background-color: black;
    width: 1980px;
    height: 1000px;
    position: absolute;
    top: 930px;
}
.second_page img{
    position: absolute;
    top: 150px;
    left: 200px;
    width: 470px;
    height: 713px;
}

.second_page h1{
    color:white;
    font-size: xxx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /* border: 2px solid red; */
    margin-left: 870px;
    margin-right: auto;
    margin-top: 135px;
    width: 600px;
    font-weight: 100;
}   

.Contact_Us{
    margin-left: 900px;
    margin-right: auto;
    margin-top: 0px;
    font-size: x-large;
    font-family: sans-serif ;
    /* border: 2px solid red; */
}

form {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
    width: 500px;
}
  
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    border-radius: 1px;
    border: 1px solid white;
    
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border-radius: 1px;
    border: 1px solid white;
    
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #292929;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  